<div class="container">
  <!-- Load Users Button -->
  <div class="button-container">
    <button class="load-button" (click)="loadUsers()">Load Users</button>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="loading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <mat-divider></mat-divider>

  <!-- Error Message -->
  <div *ngIf="error" class="error">{{ error }}</div>

  <!-- Message When No Users Are Loaded -->
  <div *ngIf="!users.length && !isLoading"><h2>No users currently loaded.</h2></div>

  <!-- User List --> 
  <div *ngIf="users.length" class="user-list">
    <div *ngFor="let user of users; let i = index" class="user-card" @fadeOutAnimation>
      <button mat-icon-button (click)="removeUser(i)" class="remove_icon">
        <mat-icon>cancel</mat-icon>
      </button>
      <mat-card>
        <mat-card-content class="card-data">
          <!-- User Image -->
          <div class="image-container">
            <img class="user-image" mat-card-image [src]="user.picture.large" alt="User Image" />
          </div>

          <!-- User Info -->
          <div class="info-column">
            <p>{{ user.name.last }}, {{ user.name.first }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Phone: {{ user.phone }}</p>
          </div>

          <!-- Additional Info -->
          <div class="info-column">
            <p>Cell: {{ user.cell }}</p>
            <p>DOB: {{ user.dob.date | date:'mediumDate' }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>